#box{
  background-color: blue;
  text-align:center;
  font-family: Arial, sans-serif;
}
.heading{
  color:red;
  text-align:center;
  text-decoration:rgb(248, 4, 4) dotted underline;font-family: Arial, sans-serif;
}
button{
  background-color: green;
  text-align:center;
  font-family: Arial, sans-serif;
}
a{
  text-decoration: red wavy underline;
  font-family: Arial, sans-serif;
}
p{
  color:aliceblue;
  text-decoration:dotted underline;
  text-decoration:dotted overline;
}