.card{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  
}
.mainheading{
  color: #333;
}
.para{
  color: #666;
}
.button{
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}