* {
  margin: 0;
  font-family: Arial;
  border: border-box;

}
.navbar{
  height:60px;
  background-color:#0f1111;
  color:white;

}
.nav-logo{
  height:50px;
  width: 114px;
}
.logo {
  background-image: url("/assets/amazon_logo (1).png");
  height: 49px;
  width: 100px;
  background-size: contain; /* optional, makes image fit */
  background-repeat: no-repeat; /* optional, prevents tiling */
}