div{
  height: 100px;
  width: 100px;
  background-color: blue;
  border: 1px solid black;
  display: inline-block;
}
.box1{
  position: relative;
  top: 10px;
}
.box2{
  position: relative;
  top: 20px;
}
.box3{
  position: relative;
  top: 30px;
}
.box4{
  position: relative;
  top: 40px;
}